fastapi
uvicorn[standard]
passlib[bcrypt,argon2]
argon2-cffi
pyotp
clamd
python-multipart
pytesseract
pillow
cryptography
spacy
bcrypt==4.0.1
sqlalchemy[asyncio]
asyncpg
alembic
celery[redis]
redis
minio
pydantic-settings
pgvector
web3
py-solc-x