fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytesseract
pillow
cryptography
spacy
bcrypt==4.0.1
sqlalchemy[asyncio]
asyncpg
alembic
celery[redis]
redis
minio
pydantic-settings
email-validator
pgvector